body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1400px;
  font-family: "roboto", sans-serif;
}

aside {
  display: flex;
  flex-direction: column;
  order: 1;
  flex: 1 3 250px;
  background-color: #feca07;
}

address, .about {
  font-weight: 500;
  font-style: normal;
}

.important {
  width: 60%;
  text-align: center;
}

.about {
  flex-grow: 2;
}

main {
  flex: 4 1 300px;
  margin-left: 5%;
  order: 2;
}

.name {
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 500px;
  padding: 3em 0 0.4em 0;
  font-family: "Sinkin Sans";
  font-weight: 500;
  font-size: 1.6em;
  line-height: 1em;
}

#title {
  font-size: 2.4em;
}

#name {
  color: #FFB300;
}

#surname {
  padding-left: 0.4em;
}

.picture {
  padding: 15%;
  margin: -10% auto;
}

#me {
  border: 5px solid #daaf12;
  border-radius: 100%;
  min-width: 10%;
  min-height: 10%;
  max-width: 100%;
  max-height: 100%;
}

section {
  display: Flex;
  flex-direction: column;
}

article {
  display: flex;
  flex-direction: row;
}
article p {
  max-width: 700px;
}

.items {
  flex-grow: 5;
  flex-basis: 65%;
  padding-right: 20%;
}

.date {
  flex-basis: 35%;
  display: flex;
  flex-direction: row;
}

.refs {
  display: flex;
  padding-bottom: 2%;
  flex-wrap: wrap;
}

.ref {
  flex-basis: 50%;
  min-width: 250px;
}

.rep {
  margin-top: 1%;
}

.hobbies {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2% 0 5% 0;
  max-width: 700px;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5% 0;
}

.current {
  padding-right: 5%;
  padding-top: 3%;
  font-size: 0.8em;
}

.past {
  padding-right: 5%;
  padding-top: 5%;
  font-size: 0.6em;
}

nav {
  padding: 1em 0 1em 20%;
  background-color: #2e2e2e;
}

.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.portfolio img {
  max-height: 80%;
  max-width: 80%;
}
.portfolio h1 {
  margin-bottom: 5%;
}
.portfolio p {
  margin-top: 1%;
}
.portfolio__item {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  padding-right: 1%;
}

@font-face {
  font-family: "Sinkin Sans";
  src: url(../fonts/SinkinSans-400Regular.otf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Sinkin Sans";
  src: url(../fonts/SinkinSans-300Light.otf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Sinkin Sans";
  src: url(../fonts/SinkinSans-500Medium.otf);
  font-style: normal;
  font-weight: 500;
}
.titletext {
  font-weight: 500;
  font-size: 2em;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.contacttext {
  font-weight: normal;
  font-size: 1.3em;
  background-color: #FFCCCB;
}

h4 {
  background-color: #2e2e2e;
  text-align: center;
  color: #feca07;
  padding: 2%;
  font-size: 1.5em;
  font-family: "roboto";
  font-weight: 500;
  margin-top: 0;
}

h5 {
  font-size: 1em;
  margin-top: 3%;
  margin-bottom: 0;
}

main i {
  font-size: 1.1em;
  color: #feca07;
}

.contact i {
  color: #2e2e2e;
  font-size: 3.3em;
}

.hobbies i {
  color: #2e2e2e;
  font-size: 5em;
}

#title {
  margin-top: 0;
  font-weight: 400;
}

hr {
  width: 80%;
  margin-left: 0;
  border: 1px solid #feca07;
}

ul {
  list-style-type: none;
  margin-right: 18%;
}

li {
  font-size: 1.9em;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.3em;
}

nav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
}

nav a:hover {
  color: #f1f1f1;
}

#currentlink {
  color: #feca07;
}

section.portfolio a {
  color: blue;
}

.portfoliotext {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5em;
  font-size: 3em;
}

.contact a :hover {
  color: white;
}

@media screen and (max-width: 480px) {
  li {
    display: block;
    padding: 2% 0;
  }

  nav {
    flex-direction: column;
    padding: 0 20%;
  }
}
.contactform {
  margin: auto;
}

form {
  margin-top: 2em;
  font-family: "roboto";
  font-size: medium;
  max-width: 500px;
}

.contactform {
  font-size: 18px;
}
.contactform__input {
  margin-bottom: 1em;
  height: 4em;
  width: 100%;
  border: none;
  border-bottom: 2px solid #4B8FC5;
}
.contactform__input:focus {
  border-bottom: 2px yellow solid;
  transition: background-color 500ms;
  background-color: azure;
}
.contactform__submit {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 0.5em 1em;
  text-decoration: none;
  margin: 1% 3% 2% 2%;
  width: 95%;
  font-size: 1.7em;
}
.contactform__submit:hover {
  transform: scale(1.05);
  transition: transform 500ms, background-color 400ms;
  background-color: navy;
}

textarea.contactform__input {
  height: 16.2em;
  width: 100%;
  resize: none;
}

@media screen and (max-width: 480px) {
  .contactform__input {
    width: 95%;
  }
  .contactform textarea.contactform__input {
    width: 95%;
  }
}
@media screen and (max-width: 480px) {
  .container {
    margin: 0;
  }

  main {
    margin-left: 0%;
    width: 100%;
    padding: 3%;
  }

  .name {
    padding: 0 0 2% 5%;
    margin: auto;
    flex-wrap: wrap;
    line-height: 0;
  }

  #title {
    margin-top: 1%;
  }

  .hobbies {
    padding-top: 2em;
    font-size: 0.6em;
  }

  .items {
    padding-right: 5px;
  }

  address, .about {
    font-size: 1.2em;
    font-weight: 500;
  }

  .current {
    padding-top: 7%;
  }

  .past {
    padding-top: 12%;
  }

  .date {
    flex-basis: 25%;
    padding-right: 5%;
  }

  .items {
    flex-basis: 75%;
  }

  aside {
    margin: 0;
    width: 100%;
  }

  .refs {
    margin-bottom: 10px;
    padding: 0 20%;
  }

  .portfolio {
    flex-direction: column;
  }
  .portfolio__item {
    margin: auto;
  }

  .portfoliotext {
    letter-spacing: 0.1em;
    text-align: center;
  }

  .important {
    width: 80%;
    margin: auto;
  }

  article.portfolio__item img {
    align-self: center;
    max-height: 400px;
    width: 95%;
  }
  article.portfolio__item h1 {
    align-self: center;
  }
}
#name {
  animation: colorchange 15s infinite;
}

@keyframes colorchange {
  0% {
    color: #FFB300;
  }
  10% {
    color: #f8f80f;
  }
  20% {
    color: #84f80f;
  }
  30% {
    color: #0ff8f8;
  }
  40% {
    color: #0eec9b;
  }
  50% {
    color: #f8ff16;
  }
  60% {
    color: #0980f6;
  }
  70% {
    color: #8b16ff;
  }
  80% {
    color: #ff3434;
  }
  90% {
    color: #00aa9b;
  }
  100% {
    color: #FFB300;
  }
}
#me:active {
  transition: transform 300ms ease-in-out;
  transform: translateY(-10px);
}

form {
  animation: fadeinleft 1s ease;
}

@keyframes fadeinleft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@supports (-ms-ime-align: auto) {
  .hobby {
    padding: 0% 6% 0% 10%;
  }
}

/*# sourceMappingURL=style.css.map */
