@media screen and (max-width: 480px) {

  .container {
    margin: 0;
  }

  main {
    margin-left: 0%;
    width: 100%;
    padding: 3%;
  }

  .name {
    padding: 0 0 2% 5%;
    margin: auto;
    flex-wrap: wrap;
    line-height: 0;
  }

  #title {
    margin-top: 1%;
  }

  .hobbies {
    padding-top: 2em;
    font-size: 0.6em;
  }

  .items {
    padding-right: 5px;
  }

  address, .about {
    font-size: 1.2em;
    font-weight: 500;
  }

  .current {
    padding-top: 7%;
  }

  .past {
    padding-top: 12%;
  }

  .date {
  flex-basis: 25%;
  padding-right: 5%;
  }

  .items {
  flex-basis: 75%
  }

  aside {
    margin: 0;
    width: 100%;
  }

  .refs {
    margin-bottom: 10px;
    padding: 0 20%;
  }

.portfolio {
  flex-direction: column;

  &__item {
    margin: auto;
  }
}

.portfoliotext {
  letter-spacing: 0.1em;
  text-align: center;
}

.important {
  width: 80%;
  margin: auto;
}

article.portfolio {

  &__item {
    img {
      align-self: center;
      max-height: 400px;
      width: 95%;
    }
    h1 {
      align-self: center;
    }
  }
}

}
