#name {
  animation: colorchange 15s infinite;
}

@keyframes colorchange {
  0% {color: $titlecolor;}
  10% {color: $color1;}
  20% {color: $color2;}
  30% {color: $color3;}
  40% {color: $color4;}
  50% {color: $color5;}
  60% {color: $color6;}
  70% {color: $color7;}
  80% {color: $color8;}
  90% {color: $color9;}
  100% {color: $titlecolor;}
}

#me:active {
  transition: transform 300ms ease-in-out;
  transform: translateY(-10px);
}

form {
  animation: fadeinleft 1s ease;
}

@keyframes fadeinleft {
   0% {
      opacity: 0;
      transform: translateX(-20px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}
