#name {
  animation: colorchange 15s infinite;
}

@keyframes colorchange {
  0% {color: $titlecolor}
  10% {color: #8e44ad;}
  20% {color: #1abc9c;}
  30% {color: #d35400;}
  40% {color: blue;}
  50% {color: #34495e;}
  60% {color: blue;}
  70% {color: #2980b9;}
  80% {color: red;}
  90% {color: #2980b9;}
  100% {color: $titlecolor}
}

#me:active {
  transition: transform 300ms ease-in-out;
  transform: translateY(-10px);
}

form {
  animation: fadeinleft 1s ease;
}

@keyframes fadeinleft {
   0% {
      opacity: 0;
      transform: translateX(-20px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}
