$primary: #feca07;
$secondary: #2e2e2e;
$visited: blue;
$border: rgb(218, 175, 18);
$titlecolor: #FFB300;
$formborder: #4B8FC5;
$submit: #4CAF50;
$important: #FFCCCB;

// Animation colors
$color1: #f8f80f;
$color2: #84f80f;
$color3: #0ff8f8;
$color4: #0eec9b;
$color5: #f8ff16;
$color6: #0980f6;
$color7: #8b16ff;
$color8: #ff3434;
$color9: #00aa9b;

// fonts
$titlefont: "Sinkin Sans";
$mainfont: "roboto";


$maxwidth: 1400px;

// $navitem: ;
