$primary: #feca07;
$secondary: #2e2e2e;
$visited: blue;
$border: rgb(218, 175, 18);
$titlecolor: #FFB300;
$navcolor: f3f3f3;


$titlefont: "Sinkin Sans";
$mainfont: "roboto";


$maxwidth: 1400px;

// $navitem: ;
