$primary: #feca07;
$secondary: #2e2e2e;
$visited: blue;
$border: rgb(218, 175, 18);
$titlecolor: #FFB300;
$formborder: #4B8FC5;
$submit: #4CAF50;
$important: #FFCCCB;

$titlefont: "Sinkin Sans";
$mainfont: "roboto";


$maxwidth: 1400px;

// $navitem: ;
